:root{

--bg:#0B1120;
--sidebar:#111827;
--card:#1E293B;

--primary:#2563EB;
--secondary:#0EA5E9;

--success:#22C55E;
--warning:#F59E0B;
--danger:#EF4444;

--white:#ffffff;
--text:#E2E8F0;
--muted:#94A3B8;
--border:#334155;

--radius:18px;

--transition:.35s;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:var(--bg);

color:var(--text);

font-family:"Poppins",sans-serif;

overflow-x:hidden;

}

section{

padding:90px 0;

}

a{

text-decoration:none;

}

.container{

max-width:1320px;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:20px;

}